/*!
 * Start Bootstrap - New Age v5.0.1 (https://startbootstrap.com/template-overviews/new-age)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-new-age/blob/master/LICENSE)
 */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #fdcc52;
  -webkit-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #fdcc52;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #fcbd20;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav>li>a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav>li>a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}

#mainNav .navbar-nav>li>a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav>li>a,
#mainNav .navbar-nav>li>a:focus {
  color: #222222;
}

#mainNav .navbar-nav>li>a:hover,
#mainNav .navbar-nav>li>a:focus:hover {
  color: #fdcc52;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }

  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }

  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }

  #mainNav .navbar-nav>li>a,
  #mainNav .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 0.7);
  }

  #mainNav .navbar-nav>li>a:hover,
  #mainNav .navbar-nav>li>a:focus:hover {
    color: white;
  }

  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }

  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #fdcc52;
  }

  #mainNav.navbar-shrink .navbar-nav>li>a,
  #mainNav.navbar-shrink .navbar-nav>li>a:focus {
    color: #222222;
  }

  #mainNav.navbar-shrink .navbar-nav>li>a:hover,
  #mainNav.navbar-shrink .navbar-nav>li>a:focus:hover {
    color: #fdcc52;
  }
}

header.masthead, section.about-us {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  /* background: url("../img/bg-pattern.png"), #df861d;
  background: url("../img/bg-pattern.png"), -webkit-gradient(linear, right top, left top, from(#df861d), to(#000));
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #df861d, #000); */
  background: #df861d;
  background: -webkit-gradient(linear, right top, left top, from(#df861d), to(#000));
  background: linear-gradient(to left, #df861d, #000);
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }

  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }

  header.masthead .header-content h1 {
    font-size: 50px;
  }

  header.masthead .device-container {
    max-width: 325px;
  }
}

section.download {
  position: relative;
  padding: 150px 0;
}

section.download h2 {
  font-size: 50px;
  margin-top: 0;
}

section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.download .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.download h2 {
    font-size: 70px;
  }
}

section.about-us .section-heading {
  margin-bottom: 100px;
}

section.about-us .section-heading h2 {
  margin-top: 0;
}

section.about-us .section-heading p {
  margin-bottom: 0;
}

section.about-us .device-container,
section.about-us .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.about-us .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.about-us .device-container {
    margin-bottom: 0;
  }
}

section.about-us .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.about-us .feature-item h3 {
  font-size: 30px;
}

section.about-us .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/bg-cta.jpg");
  background-position: center;
  background-size: cover;
}

section.cta .cta-content {
  position: relative;
  z-index: 1;
}

section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section.contact {
  text-align: center;
}

section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

section.contact h2 i {
  color: #dd4b39;
}

section.contact ul.list-social {
  margin-bottom: 0;
}

section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}

section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}

section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}

section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}

section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: #fdcc52;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdcc52), to(#fdc539));
  background: linear-gradient(#fdcc52, #fdc539);
}

.text-primary {
  color: #fdcc52;
}

.no-gutter>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #fdcc52;
  background-color: #fdcc52;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

.position-icon {
  width: auto;
  object-fit: contain;
}

.job-card {
  width: 18rem;
  padding-bottom: 1rem;
  border-color: #df861d;
  border-width: 0.2rem;
}

section.jobs {
  background: #fff;
}

section.jobs .section-heading {
  margin-bottom: 2rem;
}

.btn-link {
  color: #df861d;
}

.btn-link:hover {
  color: #f0bc5e;
}

.btn-link,
.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}

.job-title {
  padding-top: 1rem;
  font-weight: bold;
}

.apply {
  margin: 2rem 0 2rem;
  background: #df861d;
}

.apply:hover {
  background: #f0bc5e;
}

.about-us-link {
  margin-top: 3rem;
}

.about-us-link a {
  color: #df861d;
  display: inline-block;
  text-decoration: none;
}

.about-us-link a:hover {
  color: #f0bc5e;
  text-decoration: none;
}

.about-us-link .fa-arrow-circle-down {
  margin-top: 1rem;
  font-size: 3.5rem;
}

.flip-cards {
  padding: 0 10rem 0 10rem;
}

.flip-card {
  height: 20rem;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-front {
  position: absolute;
  width: 100%;
  color: #000;
  backface-visibility: hidden;
  z-index: 2;
  transform: rotateY(0deg);
  height: 100%;
}

.flip-back {
  position: absolute;
  width: 100%;
  color: #000;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  height: 100%;
  padding: .5rem;
}

.flip-card>.card>h3 {
  padding-top: 1rem;
  font-weight: inherit;
}

.flip-card-content {
  padding: 1rem 2rem 0 2rem;
}

.flip-front-img {
  text-align: center;
  padding-bottom: 1rem;
}

.flip-front-img img {
  height: 8rem;
}

.flip-front-text {
  padding-left: 2rem;
}

.flip-btn {
  l padding: 0 0 1rem 0;
}

section.how-we-work .breadcrumb {
  background: transparent;
}

.navigation-holder {
  justify-content: center;
}

.carousel {
  width: 100%;
  border: solid 0.2rem #df861d;
  border-radius: .25rem;
  height: 20rem;
}

#carousel {
  border: 0;
}

section.summary {
  background: #222222;
  padding: 0;
  position: relative;
  color: whitesmoke;
}

#photo {
  width: 100%;
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 42% 100%);
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 42% 100%);
}

#funds {
  width: 35%;
}

.eu {
  background: white;
}

.header-content .mb-4 {
  text-align: start;
}

.header-content a {
  margin-top: 2rem;
}

.bottom-info {
  background: transparent;
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 0.8rem;
  color: whitesmoke;
}

.bottom-info .copyright p {
  font-size: 0.8rem;
  color: whitesmoke;
}

.bottom-info .license {
  text-align: end;
}


/* --- v2 -- */
.masthead .carousel-inner {
  padding: 20px 20px 0 20px;
}

.masthead .br-nav-holder {
  background: transparent;
}

.masthead .carousel {
  height: 21rem;
  border-color: rgba(255, 255, 255, 0.7);
}

.cont-text {
  text-align: left;
  padding-left: 4rem;
}

.nofluff img {
  width: 100%;
  padding-top: 1rem;
}

#jobs {
  padding-bottom: 0;
}

#how-we-work {
  padding-top: 0;
}

#carousel-2 {
  height: 26rem;
  text-align: left;
  padding: 2rem;
}

#robot-desc {
  margin-bottom: 3rem;
}

#robot-desc-text {
  text-align: left;
}

#projects {
  font-size: .75rem;
}

.eu .row {
  height: 4rem;
}

.eu button {
  margin: 0;
}

#report-btn-wrapper {
  margin-top: 1.25rem;
}

#main-rd #carousel-2 {
  height: 100%;
}

.fixed-top {
  padding-top: 1.3rem;
}

.contact .col-sm-12 {
  padding-left: 5rem;
}

#main-rd {
  padding: 2rem 0;
  margin-bottom: 3rem;
}

.flip-card {
  height: 31rem;
}

.flip-card-content {
  height: 100%;
}

.flip-card .flip-btn {
  padding-bottom: 1rem;
}

#contact {
  padding: 2rem;
}

.contact-entry {
  margin-bottom: 2rem;
}
